{% extends 'Master.html' %}

{% block title%} Feedback {%endblock%}

{% block link %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock%}

{%block body%}

 <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Customer Feedback </h6>
            </div>
            <div class="card-body">
              <form action="/addFeedback/" method="POST">{% csrf_token %}
                <table class="table">
                  <tr><td><label for="customer_name_feedback">Customer Name</label></td>
                    <td><input type="text" class="form-control" id="customer_name_feedback" name="customer_name_feedback" placeholder="Enter Full Name" required></td></tr>
                    <tr><td><label for="customer_phone">Customer Phone NO</label></td>
                    <td><select id="customer_phone" name="customer_phone" class="form-control">
                        <option selected disabled>Select Dish Name</option>
                        {% for i in customer %}
                            <option value="{{ i.id }}">{{ i.customer_phone }}</option>
                        {% endfor %}
                    </select></td></tr>
                    <tr><td><label for="customer_age">Customer Age</label></td>
                    <td><input type="number" class="form-control" id="customer_age" name="customer_age" placeholder="Enter Age" required></td></tr>
                    <tr><td><label for="customer_gender">Gender</label></td>
                    <td><select id="customer_gender" class="form-control" name="customer_gender">
                        <option selected disabled>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select></td></tr>
                  <tr><td><label for="dish_name">Dish name</label></td>
                    <td><select id="dish_name" name="dish_name" class="form-control">
                        <option selected disabled>Select Dish Name</option>
                        {% for i in menu %}
                            <option value="{{ i.id }}">{{ i.dish_name }}</option>
                        {% endfor %}
                    </select></td></tr>
                  <tr><td><label for="rating">Dish Rating</label></td>
                    <td><input type="number" class="form-control" max="5" id="rating" name="rating" placeholder="Enter Dish Rating" required></td></tr>
                  <tr><td><label for="review">Dish Review</label></td>
                    <td><textarea class="form-control" id="review" rows="2" placeholder="Enter Feedback" name="review" required></textarea></td></tr>
                    <tr><td><label for="feedback_date">Feedback Date</label></td>
                    <td><input type="date" id="feedback_date" class="form-control" placeholder="YYYY-MM-DD" name="feedback_date" /><script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap4'
        });
    </script></td></tr>
                  <tr><td colspan="2" align="Center" ><input type="submit" name="" class="btn btn-primary" width=50%></td></tr>

                </table>
               <!--  <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group"> -->

                  <!-- <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
               <!--  </div> -->
          </form>

            </div>
          </div>
        </div>

{%endblock%}
