{% extends 'Master.html' %}

{% block title%} Leads {%endblock%}

{% block link %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
    <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock%}

{%block body%}

 <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Add Leads  </h6>
            </div>
            <div class="card-body">
              <form action="/addLead/" method="POST">{% csrf_token %}
                <table class="table">
                  <tr><td><label for="lead_name">Lead Name</label></td>
                    <td><input type="text" class="form-control" id="lead_name" name="lead_name" placeholder="Enter Lead Full Name" required></td></tr>
                    <tr><td><label for="lead_source">Lead Source</label></td>
                    <td><select id="lead_source" class="form-control" name="lead_source">
                        <option selected disabled>Choose Source</option>
                        <option value="Swigy">Swigy</option>
                        <option value="Zomato">Zomato</option>
                    </select></td></tr>
                    <tr><td><label for="lead_email">Email address</label></td>
                    <td><input type="email" class="form-control" id="lead_email" name="lead_email" placeholder="name@example.com" required></td></tr>
                  <tr><td><label for="lead_phone">Phone Number</label></td>
                    <td><input type="text" class="form-control" id="lead_phone" name="lead_phone" placeholder="Enter Phone Number" required></td></tr>
                  <tr><td><label for="lead_location">Location</label></td>
                    <td><input type="text" class="form-control" id="lead_location" name="lead_location" placeholder="Enter Your Location" required></td></tr>
                  <tr><td colspan="2" align="Center" ><input type="submit" name="" class="btn btn-primary" width=50%></td></tr>
                </table>
               <!--  <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group">


                </div>
                <div class="form-group"> -->

                  <!-- <label for="exampleFormControlTextarea1">Example textarea</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
               <!--  </div> -->
          </form>

            </div>
          </div>
        </div>

{%endblock%}