{% extends 'Master.html' %}

{% block title%} View Feedback {%endblock%}

{%block body%}

 <div class="container-fluid">

          <!-- Page Heading -->
          <!-- <h1 class="h3 mb-2 text-gray-800">Employee</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p> -->

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Feedback  </h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Phone NO</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Dish Name</th>
                      <th>Rating</th>
                      <th>Review</th>
                      <th>Feedback Date</th>
                      {% if department == 'Admin' %}
                        <th>Delete</th>
                      {% endif %}
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                     <th>Name</th>
                      <th>Phone NO</th>
                      <th>Age</th>
                      <th>Gender</th>
                      <th>Dish Name</th>
                      <th>Rating</th>
                      <th>Review</th>
                      <th>Feedback Date</th>
                      {% if department == 'Admin' %}
                        <th>Delete</th>
                      {% endif %}
                    </tr>
                  </tfoot>

                    <tbody>
                    {% for i in feedback %}
                    <tr>
                      <th>{{ i.customer_name_feedback }}</th>
                      <th>{{ i.customer.customer_phone }}</th>
                      <th>{{ i.customer_age }}</th>
                      <th>{{ i.customer_gender }} </th>
                      <th>{{ i.menu.dish_name }}</th>
                      <th>{{ i.rating }}</th>
                      <th>{{ i.review }}</th>
                      <th>{{ i.feedback_date }}</th>
                      {% if department == 'Admin' %}
                        <td><a href="{% url 'DeleteFeedback' i.id %}"><i class="fas fa-trash-alt" style="color:red;font-size:24px"></i></a></td>
                      {% endif %}
                    </tr>
                    {% endfor %}
                     </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

<!-- Delete Modal-->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Delete Entry</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Are you sure you want to delete?</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Delete</a>
        </div>
      </div>
    </div>
  </div>

{%endblock%}

{% block script %}

  {% load static %}
  <!-- Page level plugins -->
  <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
  <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

  <!-- Page level custom scripts -->
  <script src="{%static 'js/demo/datatables-demo.js'%}"></script>
{% endblock%}